POSTGRES_USER=
POSTGRES_PASSWORD=
PRODUCTS_DB=
USERS_DB=
APP_BASE_URL=
APP_EMAIL_FROM=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_ROLE=
ADMIN_NAME=
USERS_API_URL=
PRODUCTS_API_URL=
INTERNAL_API_KEY=
JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_TOKEN_DURATION=